
.student-layout {
    min-height: 100vh;
}

.student-main-content {
  padding: 2rem;
  margin-top: 64px; /* Header height */
}

.student-page-content {
  max-width: 1210px;
  margin: 2rem auto;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
}


.filters-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.search-input {
    flex-grow: 1;
    padding: 0.75rem;
    border: 1px solid #D9DBE0;
    border-radius: 5px;
    font-size: 15px;
}

.filter-select {
    flex-shrink: 0;
    width: 220px; /* Adjust width as needed */
    padding: 0.75rem;
    border: 1px solid #D9DBE0;
    border-radius: 5px;
    font-size: 15px;
}

.themes-list-container, .applications-list-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
