body {
  padding-top: 64px; /* Height of the header */
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-layout {
  display: flex;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
  padding: 24px;
  background-color: #F9FAFB;
}

@media (min-width: 1024px) {
  .content {
    margin-left: 256px; /* Same as sidebar width */
  }
}
